.res-form {
	padding-top:10px;
}
.row-div {
	margin-top:15px;
	/*margin-left:3px;*/
display:table;
	width:100%;
}
.left-column {
	width:30%;
	text-align:right;
	margin-right:5px;
}
.form-label {
	font-size:15px;
	margin-right:10px;
	font-weight:normal;
}
.right-column {
	display:inline;
	width:50%;
}
.floatleft {
	float:left;
}
.res-form input[type=text], .res-form input[type=password], .res-form input[type=checkbox], .res-form select {
	width:250px;
	height:25px;
	position: relative;
	left: 0;
	outline: none;
	border: 1px solid #cdcdcd;
	border-color: rgba(0, 0, 0, .15);
	background-color: white;
	font-size: 16px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 3px;
}
.res-form select {
	left: 0;
	outline: none;
	border: 1px solid #cdcdcd;
	border-color: rgba(0, 0, 0, .15);
	background-color: white;
	font-size: 16px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 3px;
}
/*form  error*/

.res-form input:focus {
	border-color: #dff4ff;
	box-shadow: 0 0 4px rgba(82, 168, 236, 0.75);
	outline: medium none;
}
.frm-req {
	vertical-align:super;
	font-weight:bold;
	color:#F00;
	margin-left:5px;
	font-size:14px;
}
.row-div-suggestion {
	margin-top:5px;
}
.frm-suggestion {
	font-weight:normal;
	color:#999;
	font-style:italic;
}
.row-colspan-div {
	width:97%;
	margin-left:10px;
	border-radius:3px;
}
.brdbtm {
	border-bottom:1px solid #00F;
	alignment-adjust:central;
	box-shadow:1px 1px 1px 1px #b8b8ff;
}
/*.btn {
	background:none repeat scroll 0 0 #588bc7;
	border: 1px solid #597601;
	box-shadow: 0 0 3px #a4be89 inset;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px 4px;
	border-radius:5px;
}*/
.btn-cancel {
	background: none repeat scroll 0 0 #f8f8f8;
	border: 1px solid #F00;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 10px 4px;
	border-radius:5px;
}
/*.btn:hover {
	background: none repeat scroll 0 0 #8db0d9;
	border: 1px solid #496101;
	box-shadow: 0 0 3px #496101;
	color: #fff;
	text-decoration: none;
	transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s, background 0.3s ease-in 0s, border 0.3s linear 0s, color 0.3s ease-in 0s;
}*/
.marginbtm {
	margin-bottom:15px;
}
.error-msgs {
	margin-bottom:5px;
	text-align:center;
}
/*tooltips*/
#tooltip {
	text-align: center;
	color: #fff;
	background: #111;
	position: absolute;
	z-index: 100;
	padding: 10px;
	border-radius:5px;
}
#tooltip:after /* triangle decoration */ {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #111;
	content: '';
	position: absolute;
	left: 50%;
	bottom: -10px;
	margin-left: -10px;
	border-radius:3px;
}
#tooltip.top:after {
	border-top-color: transparent;
	border-bottom: 10px solid #111;
	top: -20px;
	bottom: auto;
}
#tooltip.left:after {
	left: 10px;
	margin: 0;
}
#tooltip.right:after {
	right: 10px;
	left: auto;
	margin: 0;
}
/*ERROR SUCCESS MESSAGE*/
.success_msg {
	border:1px solid #359f15;
	padding:10px;
	color:#359f15;
	background:#f0ffec;
	margin:5px;
	border-radius:5px;
}
.error_msg {
	border:1px solid #e53b2c;
	padding:10px;
	color:#e53b2c;
	background:#feeceb;
	margin:5px;
	border-radius:5px;
}
.info_msg {
	padding:10px;
	background:#f0ffec;
	margin:5px;
	border-radius:5px;
	font-size:14px;
}
/*Employer Details*/
.txt-left {
	text-align:left;
}
.job-detail-header {
	border-bottom:1px dashed #CCC;
	text-align:left;
	margin-bottom:10px;
	font-weight:bold;
	font-size:20px;
	padding:5px;
	color:#588bc7;
}
.job-detail-header img {
	border:1px solid #ccc;
	padding:10px;
}
.txt-shadow {
	text-shadow:2px 2px #CCCCCC;
	font-size:20px;
}
.small-font {
	font-size:14px;
	text-align:center;
	text-shadow:none;
	color:#555;
}
.desc {
	text-align:left;
	margin-top:5px;
	line-height:17px;
}
/*TABLE LISTING*/
.tbl-list {
	margin:5px;
	border:1px solid #red;
	border-radius:5px;
}
.tbl-list th {
	background-color:#cccacb;
	height:30px;
	border:1px solid #red;
}
/*buttom list*/

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf', GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed', GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}
/*TABLE DESIGN*/

table {
	border-spacing: 0;
}
.tbl-border {
	/*    border: 1px solid #000;
*/    border-radius: 6px;/*    box-shadow: 0 1px 1px #ccc;
*/
}
.tbl-border th {
	background-color: #000;
	background-image: -moz-linear-gradient(center top, #999, #000);
	border-top: medium none;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color:#FFF;
}
.tbl-border td, .tbl-border th {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 10px;
	text-align: left;
}
/*th:first-child {
    border-radius: 6px 0 0 0;
}

th:last-child {
    border-radius: 0 6px 0 0;
}*/

th:only-child {
	border-radius: 6px 6px 0 0;
}
.bordered tr:hover {
	background: #fbf8e9;
	transition: all 0.1s ease-in-out;
}
.highlight {
	background: #fbf8e9;
	transition: all 0.1s ease-in-out;
}
/*RIGHT MENU*/
.step-menu {
	background:#e05050;
	padding:10px;
}
.step-head-title {
	background-color:#ad1c1c;
	border:1px solid #7d0f0f;
	/*height:30px;*/
cursor:pointer;
	padding:7px;
	font-size:16px;
	color:#fff;
}
.step-head-title:hover {
	background-color:#c32f2f;
	color:#FFFFFF;
}
.step-head-title-active {
	background-color:#c32f2f;
	color:#FFFFFF;
}
.step-head-title span {
	font-size:18px;
	padding:5px;
}
.step-head-title span:hover {
	font-size:18px;
	padding:5px;
	color:#FFFFFF;
}
.childMenus {
	display:none;
	background:#f7f6f4;
}
.childMenus ul {
	border-bottom:1px solid #CCCCCC;
	display:block;
	padding:10px;
}
.childMenus li {
	list-style:none;
	border-bottom:1px dotted #483e2a;
	padding:5px 0;
}
.childMenus li a {
	color:#483e2a;
}
.edit-profile:hover #Edit-Profile-Photo {
	display:block;
}
#LoadingDiv {
	margin:0px 0px 0px 0px;
	position:fixed;
	height: 100%;
	z-index:9999;
	text-align:center;
	width:100%;
	clear:none;
	background-color:#CCC;
	border:1px solid #000000;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity:.8;
	padding-top:200px;
}
/*IE will need an 'adjustment'*/
* html #LoadingDiv {
	position: absolute;
 height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
.thumbnail img {
	border:1px solid #ccc;
	padding:10px;
}
#register {
	margin-left:100px;
}
#register label {
	margin-right:5px;
}
#register input {
	padding:5px 7px;
	border:1px solid #d5d9da;
	box-shadow: 0 0 5px #e8e9eb inset;
	width:250px;
	font-size:1em;
	outline:0;
}
#result {
	margin-left:15px;
	font:bold 13px Verdana, Geneva, sans-serif;
}
#result1 {
	margin-left:15px;
	font:bold 13px Verdana, Geneva, sans-serif;
}
.short {
	font-weight:bold;
	color:#FF0000;
	font-size:larger;
}
.weak {
	font-weight:bold;
	color:orange;
	font-size:larger;
}
.good {
	font-weight:bold;
	color:#2D98F3;
	font-size:larger;
}
.strong {
	font-weight:bold;
	color: limegreen;
	font-size:larger;
}




	/* 
	Generic Styling, for Desktops/Laptops 
	*/
	table.similar_jobs {
 width: 100% !important;
 border-collapse: collapse !important;
}
	/* Zebra striping */
	table.similar_jobs tr:nth-of-type(odd) {
 background: #eee !important;
}
table.similar_jobs th {
	background: #958c68 !important;
	color: white !important;
	font-weight: bold !important;
}
table.similar_jobs td, table.similar_jobs th {
	padding: 10px 15px!important;
	border: 1px solid #fff !important;
	text-align: left !important;
}
table.similar_jobs tr td:first-child {
	background:none !important;
}
table.similar_jobs {
	background:none;
	border:none;
}
@media  only screen and (max-width: 760px),  (min-device-width: 768px) and (max-device-width: 1024px) {
 table.similar_jobs tr:nth-of-type(odd) {
 background: #f9f9f9 !important;
}
		/* Force table to not be like tables anymore */
		table.similar_jobs, table.similar_jobs thead, table.similar_jobs tbody, table.similar_jobs th, table.similar_jobs td, table.similar_jobs tr {
 display: block !important;
}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		table.similar_jobs thead tr {
 position: absolute !important;
 top: -9999px !important;
 left: -9999px !important;
}
 table.similar_jobs tr {
border: 1px solid #ddd !important;
margin-bottom:20px;
background:#f9f9f9;
}
 table.similar_jobs td {
			/* Behave  like a "row" */
			border: none !important;
 border-bottom: 1px solid #ccc !important;
 position: relative !important;
 padding-left: 99% !important;
 float:none;
 display:block;
padding:10px !important;
}
 table.similar_jobs td:last-child {
border-bottom:none !important;
}
 table.similar_jobs td:before {
			/* Now like a table header */
			/*position: absolute !important;*/
			/* Top/left values mimic padding */
			top: 6px !important;
 left: 6px !important;
 width: 99% !important;
 padding-right: 10px !important;
 white-space: nowrap !important;
 float:none;
 display:block;
 margin-bottom:13px;
 font:bold 14px Verdana, Geneva, sans-serif;
}
		
		/*
		Label the data
		*/
		table.similar_jobs td:nth-of-type(1):before {
content: "Job Title" !important;
}
 table.similar_jobs td:nth-of-type(2):before {
content: "Company Name";
}
 table.similar_jobs td:nth-of-type(3):before {
content: "Location";
}
 table.similar_jobs td:nth-of-type(4):before {
content: "Type";
}
 table.similar_jobs td:nth-of-type(5):before {
content: "Deadline";
}
}
td.Title a {
	font:14px Arial, Helvetica, sans-serif;
	color:#333;
	text-decoration:none;
}
td.Title a:hover {
	text-decoration:underline;
}
td.Name a {
	font:14px Arial, Helvetica, sans-serif;
	color:#333;
	text-decoration:none;
}
td.Name a:hover {
	text-decoration:underline;
}
td.Deadline {
	font:14px Arial, Helvetica, sans-serif;
	color:#C00;
}
