@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	/*font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	color: #555;*/
}

#notification_count {
padding: 3px 7px 3px 7px;
background: #cc0000;
color: #ffffff;
font-weight: bold;
border-radius: 9px;
position: absolute;
font-size: 11px;
}

.fl {
	float: left;
	display: inline
}
.fr {
	float: right;
	display: inline
}
.green {
	color: #0e870e
}
.rlv {
	position: relative;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.mt10 {
	margin-top: 10px;
}
.mt15 {
	margin-top: 15px;
}
.p10 {
	padding: 10px
}
.clr {
	clear: both;
	display: block;
	height: 0px;
	width: 0px;
}
.wrapper {
	width: 1024px;
	margin: 0 auto;
}
/*.header {
	background: #588bc7;
	padding: 10px;
	border-bottom: 1px solid #BBB;
}*/
.header_section {
	background: url(../images/header_pattern.jpg);
	min-width: 100px;
	padding-bottom: 10px;
}
.logo_cntr {
	position: relative;
	width: 265px;
	float:left;
}
.ressite_crt {
	display:none;
}
.logo_cntr img {
	z-index: 2;
	margin-top: 10px;
}
p {
	padding: 5px 0;
}
.log_type {
	border-bottom: 1px solid #d8d1b4;
	margin-bottom: 10px;
	display: block;
}
.menu_cntr {
	width: 800px;
	display: inline;
}
.search_container {
	width: 455px;
	padding: 20px 0; /*background:#242424; border-radius:0 0 5px 5px; min-height:75px;*/
}
.search_container p {
	padding-top:7px;
}
.search_container p a {
	color: #588bc7;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
.search_container p a:hover {
	text-decoration:none;
}
.search_container h2 {
	color: #7a7975
}
.search_form {
	margin-top: 10px;
}
.searc_txt {
	padding: 10px 10px;
	width: 158px;
	margin-right: 5px;
	border: none;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #eee;
}
.searc_btn {
	padding: 9px;
	background: #588bc7;
	border: none;
	cursor: pointer;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
}
.searc_btn:hover {
	background: #bec74a;
}
.job_seeker_container {
	width: 284px;
	padding: 10px;
}
.job_seeker_container h2 {
	color: #3a9e13;
}
.job_seeker_container p {
	padding-bottom: 2px;
	font-size: 11px;
}
.job_seeker_container a {
	color: #588bc7;
	text-decoration: underline;
	font-size: 14px;
	font-weight: bold;
}
.job_seeker_container a:hover {
	text-decoration: none;
}
/*.container {
	padding: 10px 0;
	background: #efecdd;
}*/
.login_container {
	width: 445px;
	margin: 0 10px;
	min-height: 250px;
	background: #fff;
	border-bottom: 5px solid #d8d1b4;
}
.login_container h1 {
	color: #7a7975;
	font-size: 20px;
	padding: 10px;
	background: #faf8f0;
	min-height: 33px; /* IE6-9 */
	margin-bottom: 10px;
}
.login_container h2 {
	color: #333;
	font-size: 17px;
	padding: 8px 10px;
	/*background: #faf8f0;*/
	min-height: 20px; /* IE6-9 */
	margin-bottom: 10px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid #d2e0f0;
}
.login_container .one {
}
.login_form .two {
	display: none;
}
.registration_form .two {
	display: none;
}
span.radiobtm label {
	font-size: 14px;
	font-weight: normal;
	padding-top: 60px;
	z-index:1;
}
span.radiobtm label:hover {
	color:#3a9e13;
}
.login_container h1 span.searc_btn {
	float: right;
	font-size: 13px;
	color: #fff;
}
.login_container h1 span.searc_btn a {
	text-decoration: none;
	color: #fff;
}
.login_container a {
	color: #000;
}
.login_form {
	padding: 0 10px 10px 10px;
}
.login_form h2 {
	background: #dfe9f4;
}
.login_form ul, .login_form ul li {
	list-style: none;
	padding: 0;
	margin: 0;
}
.login_form ul li {
	padding-bottom: 10px;
}
.login_form ul li .lft_part {
	width: 30%;
	font-size: 12px;
	font-weight: bold;
	margin-top: 5px;
	text-align: right;
}
.login_form ul li .rgt_part {
	width: 70%;
	padding-left: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.login_form input {
	padding: 7px 10px;
	background: #fff;
	border: 1px solid #eee;
	box-shadow: 2px 2px 2px #eee;
}
.login_form input.login_btn {
	background: #eee;
	cursor: pointer;
	border: 1px solid #ccc;
	color: #000;
	padding: 7px 10px;
	border-radius: 5px;
	margin-right: 10px;
}
.login_form input.login_btn:hover {
	background: #e6e6e6;
	color: #333;
}
.link_txt a {
	color: #555;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0px 0px #555;
}
.link_txt a:hover {
	text-decoration: none;
}
.usr_type {
	position: absolute;
	background: #222121;
	color: #FFF;
	width: 180px;
	padding: 15px;
	right: -212px;
	top: -4px;
	display: none;
}
.usr_type p {
	margin-bottom: 5px;
}
.usr_type input, .usr_type img {
	vertical-align: middle;
}
.usr_type h4 {
	margin-bottom: 10px;
}
.arrow {
	width: 0px;
	height: 0px;
	position: absolute;
	top: 10px;
	left: -9px;
	border-right: 10px solid #222121;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.type_container:hover .usr_type {
	display: block;
}
.rgt_container {
	width: 265px;
	height: 225px;
	overflow: hidden;
	border-bottom: 5px solid #d8d1b4;
	background: #fff;
	padding: 10px;
}
.rgt_container div {
	border-radius: 5px;
}
.top_job_cntr {
	margin-top: 15px
}
.top_job_cntr .hdr_cntr {
	background: url(../images/tp_job_hd_bg.jpg) repeat-x;
}
.top_job_cntr .hdr_bg {
	background: #588bc7;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 0;
	border-bottom: 5px solid #4073af;
}
.top_job_cntr .hdr_bg img {
	vertical-align: middle;
	margin: 0 25px 0 5px;
}
.job_container {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	background: #fff;
	padding: 5px;
	border-top: 1px solid #d0cece;
	border-bottom: 5px solid #d8d1b4;
	
}
.top_job_list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.top_job_list > li {
	float: left;
	width: 325px;
	position: relative;
	display: inline-block;
	margin: 6px;
}
.job_list_cntr {
	padding: 10px;
	border: 1px solid #0d50d6;
	width: 305px;
	background: #fff;
	-webkit-transition: all ease-in-out 0.5s;
	-moz-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
	max-height:100px;
	min-height:100px;
	overflow:hidden;
}
.job_list_cntr:hover {
	background: #efecdd;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	overflow: inherit;
}
.top_job_list > li:hover .job_list_cntr {
	max-height: 500px;
	z-index: 2
}
.top_job_list li .img_cntr {
	float: left;
	display: inline;
	margin-right: 10px;
	width: 82px;
}
.top_job_list li .job_desc {
	float: right;
	display: inline;
	width: 210px;
}
.top_job_list li .job_desc h4 a {
	color: #588bc7;
	font-weight: bold;
}
.top_job_list ul {
	margin: 5px 0 0;
	padding: 0;
}
.top_job_list ul li {
	list-style: square;
	padding: 6px 0;
	color: #555;
	list-style-position: inside
}
.top_job_list ul li a {
	color: #555;
	font-size: 13px;
}
.recent_job_cntr {
	margin-top: 15px
}
.recent_job_cntr .hdr_cntr {
	background: url(../images/recent_job_hd_bg.jpg) repeat-x;
}
.recent_job_cntr .hdr_bg {
	background: #d8d1b4;
	color: #292828;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 0;
	border-bottom: 5px solid #aba486;
}
.recent_job_cntr .hdr_bg img {
	vertical-align: middle;
	margin: 0 25px 0 5px;
}
.recent_job {
	margin: 0;
	padding: 0 10 15px;
}
.recent_job li {
	list-style: square;
	color: #00479a;
	list-style-position: inside;
	padding: 5px 10px;
	width: 226px;
	float: left;
}
.recent_job li a {
	color: #00479a;
}
.job_filter {
	float: left;
	display: inline;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	background: #fff;
	width: 714px;
	height: 215px;
}
.job_filter .tab_hding {
	background: #c13d3d;
	border-bottom: 5px solid #861e1e;
	padding: 5px 10px;
}
.job_filter .tab_hding ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.job_filter .tab_hding ul a {
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 5px;
	color: #fff;
	float: left;
	display: inline;
}
.job_filter .tab_hding ul a:hover, .job_filter .tab_hding ul a.active {
	background: #fff;
	color: #292828;
	text-decoration: none;
}
.filter_cntr {
	padding: 10px 5px;
}
.filter_job {
	margin: 0;
	padding: 0 10 15px;
}
.filter_job li {
	list-style: square;
	color: #00479a;
	list-style-position: inside;
	padding: 5px 10px;
	width: 194px;
	float: left;
	margin-right: 20px;
	border-bottom: 1px dotted #ccc;
}
.filter_job li a {
	color: #4e4e4e;
}
.lft_cntr {
	border-bottom: 5px solid #d8d1b4;
	background: #fff;
	padding: 10px;
}
/* ////////////////////////////////////////*/
.chromestyle {
	padding-top: 5px;
	width: auto;
	height: 17px;
	background-color: none;
	float: left;
	font-weight: bold;
}
.borderRadius {
	border-radius: 5px;
}
.chromestyle:after { /*Add margin between menu and rest of content in Firefox*/
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.chromestyle ul {
	width: 100%;
	background-color: none;
	padding: 0;
	margin: 0;
	text-align: left; /*set value to "left", "center", or "right"*/
}
.chromestyle ul li {
	display: inline;
	border-right: 1px solid #DADADA;
}
.chromestyle ul li:last-child {
	border-right: 0;
}
.chromestyle ul li a {
	color: #ffffff;
	padding: 4px 7px;
	margin: 0;
	text-decoration: none;
}
.chromestyle ul li a:hover, .chromestyle ul li a.selected { /*script dynamically adds a class of "selected" to the current active menu item*/
	background: url(chromebg-over.gif) center center repeat-x; /*THEME CHANGE HERE*/
}
/* ######### Style for Drop Down Menu ######### */



.dropmenudiv a {
	width: auto;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #BBB; /*THEME CHANGE HERE*/
	padding: 8px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
* html .dropmenudiv a { /*IE only hack*/
	width: 100%;
}
.dropmenudiv a:hover { /*THEME CHANGE HERE*/
	background-color: #F0F0F0;
	color: #000;
}
.dropmenudiv {
	position: absolute;
	top: 42px!important;
	border: 1px solid #BBB;
	border-bottom-width: 0;
	font: normal 12px Verdana;
	line-height: 18px;
	z-index: 100;
	width: 200px;
	visibility: hidden;
	background: #588bc7;
	border-top: 0;
}
/*.footer {
	background: url(../images/footer.jpg) repeat-x;
	clear: both;
	margin-top: 10px;
	width: 100%;
	float: left;
}
.fot_top {
	width: 1017px;
	margin: 0 auto;
	padding: 20px 0;
}
.fot_top ul {
	padding: 10px 0;
	margin: 0;
	float: left;
}
.fot_top li {
	list-style: none;
	padding: 0 8px;
	display: inline;
	border-right: 1px solid #fff;
}
.fot_top li:last-child {
	border-right: none;
}
.fot_top li a {
	color: #fff;
}
.fot_top p {
	margin: 1em 0;
}
.soc {
	float: right;
	text-align: right;
}
.soc h4 {
	color: #fff;
}
.soc ul {
	padding: 10px 0;
	margin: 0
}
.soc li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline;
	width: 34px;
	height: 33px;
	border: 0;
}
.soc li a {
	font-size: 0;
	width: 34px;
	height: 33px;
	display: block;
	float: left;
	margin-right: 5px;
}
.soc li a.facebook {
	background: url(../../images/social_icon.png) no-repeat -87px 0;
}
.soc li a.twitter {
	background: url(../../images/social_icon.png) no-repeat 0 0;
}
.soc li a.youtube {
	background: url(../../images/social_icon.png) no-repeat -46px 0;
}*/
/* changes css */

.tooltip_cntr {
	position: relative;
}
.tooltip {
	position: absolute;
	top: 5px;
	left: 30px;
	width: 200px;
	padding: 5px;
	background: #000;
	color: #eee;
	display: none;
	border-radius: 5px;
}
.tooltip .arrow_tooltip {
	width: 0px;
	heigth: 0px;
	border-top: 10px solid #000;
	border-left: 10px transparent solid;
	border-right: 10px transparent solid;
	left: -7px;
	position: absolute;
	display: inline-block;
}
.tooltip_cntr:hover .tooltip {
	display: block;
}
.tooltip h3 {
	color: #feff88;
}
.tooltip p {
	font-size: 11px;
	margin-top: 5px;
}
.job_seeker_container {
	width: 264px;
	padding: 10px 10px 10px 30px;
}
.job_seeker_container .chair {
	position: absolute;
	right: 0;
	top: -20px;
}
*:before, *:after {
	box-sizing: border-box;
}
.inner_1column {
	background: #fff;
	padding: 10px;
	min-height: 300px;
}
/*.fot_top p {
	margin-top: 0px;
}
.footer {
	margin-top: 0px;
}*/
.inner_right_2col {
	background-color: #FFF;
repeat scroll 0 0 rgba(0, 0, 0, 0);
	margin-left: 10px;
	width: 701px;
	padding: 10px;
	min-height: 400px;
	border: 1px solid #EFF1F2;
	border-radius: 5px;
}
.dataTables_length {
	width: 40%;
	float: left;
}
.rightTitle h1 {
	background: #faf8f0;
	color: #7a7975;
	font-size: 18px;
	padding: 10px;
	border-bottom: 5px solid #e7e1c9;
}
.inner_right_2col .page-title:after {
	background: url("../images/box_off.png") no-repeat scroll 1px top rgba(0, 0, 0, 0);
	content: "";
	height: 33px;
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
	box-sizing: border-box;
}
.inner_right_2col .page-title:before {
	background: url("../images/box_off.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
	content: "";
	height: 33px;
	left: 0;
	position: absolute;
	top: 0;
	width: 22px;
	box-sizing: border-box;
}
.inner_right_2col .page-title {
	background: none repeat scroll 0 0 #CCCACB;
	border-bottom: 1px solid #d0d7db;
	box-sizing: border-box;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	/*color: #d25902;*/
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	height: 33px;
	letter-spacing: -1px;
	line-height: 33px;
	margin-left: 10px;
	padding: 0 25px;
	position: relative;
	text-transform: uppercase;
	top: -1px;
}
.bg-pattern {
	background: url("../images/header_pattern.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}
.tablerecent_job {
	margin-top: 5px;
	border: 1px solid #ccc;
}
.tablerecent_job th, .tablerecent_job td {
	padding: 12px;
}
.tablerecent_job th {
	background: #a8a183;
	color: #fff;
	text-align: left;
}
.tablerecent_job tr.odd td {
	background: #ececec;
}
.tablerecent_job tr.even td {
	background: #f8f8f8;
}
.tablerecent_job td a {
	color: #555;
}
.arrow_cntr {
	display: inline-block;
	width: 5px;
	vertical-align: middle;
}
.arrow_cntr .top_arrow {
	width: 0;
	height: 0;
	border-bottom: 4px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	display: block;
	cursor: pointer;
}
.arrow_cntr .bottom_arrow {
	width: 0;
	height: 0;
	border-top: 4px solid #000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	display: block;
	margin-top: 2px;
	cursor: pointer;
}
.arrow_cntr .top_arrow:hover, .arrow_cntr .top_arrow.active {
	border-bottom: 4px solid #fff;
}
.arrow_cntr .bottom_arrow:hover, .arrow_cntr .bottom_arrow.active {
	border-top: 4px solid #fff;
}

/* VIEWPORT < 960px */

@media only screen and (max-width: 960px) {
.wrapper {
 width: 768px;
}
.menu_cntr {
 width: 768px;
}
}

/* VIEWPORT < 768px */
@media only screen and (max-width: 768px) {
.wrapper {
 width: 524px;
}
.menu_cntr {
 width: 524px;
}
}
/* VIEWPORT < 524px */
/*@media only screen and (max-width: 524px) {
.wrapper {
 width: 300px;
}
.menu_cntr {
 width: 300px;
 z-index: 999;
 break-after: column;
}
.chromestyle {
 max-width: 524px;
 width: 100%;
 padding: 5px;
}
.header {
 background: none;
 padding-bottom: 160px;
}
.chromestyle ul li a {
 border: none;
}
.chromestyle ul li {
 background-color: #588bc7;
 display: block;
 list-style: none;
 padding: 5px;
 border-bottom: 1px dashed #CCC;
}
.chromestyle ul {
 page-break-inside: auto;
}
.logo_cntr {
 z-index: 0;
}
.fl {
 clear: both;
 margin-top: 0px;
 margin-bottom: 5px;
 float: none;
}
.search_container {
 display: none;
}
.job_seeker_container {
 display: none;
}
.rgt_container {
 display: none;
}
.lft_cntr {
 display: none;
}
.login_container {
 display: none;
}
.logo_cntr {
 display: none;
}
.fot_top {
 width: auto;
}
.tab_hding {
 width: auto;
}
/*form attributes
.floatleft {
 clear: both;
}
.left-column {
 width: 300px !important;
 text-align: left !important;
}
}*/
.login_form .one {
	position: relative;
	background: #f7f7f7;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.login_form .one:after {
	bottom: 100%;
	left: 8%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #f7f7f7;
	border-width: 25px;
	margin-left: -25px;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 30px solid #dfe9f4;
}
.login_form .two {
	position: relative;
	background: #f7f7f7;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.login_form .two:after {
	bottom: 100%;
	left: 40%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #e6dcb5;
	border-width: 25px;
	margin-left: -25px;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 30px solid #dfe9f4;
}
.registration_form .one {
	position: relative;
	background: #f7f7f7;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.registration_form .one:after {
	bottom: 100%;
	left: 6%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #f7f7f7;
	border-width: 25px;
	margin-left: -25px;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 30px solid #dfe9f4;
}
.registration_form .two {
	position: relative;
	background: #f7f7f7;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.registration_form .two:after {
	bottom: 100%;
	left:31%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #e6dcb5;
	border-width: 25px;
	margin-left: -25px;
	width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 30px solid #dfe9f4;
}
input[type="radio"]:checked+span {
	color: #333;
}
.hdr_viewmore {
	text-align: right;
	width: 150px;
	float: right;
	padding: 10px 20px 0 0;
}
.hdr_viewmore a {
	color: #fff;
	font-weight: normal;
}
.rd_second a {
	color: #333;
}
.registration_form {
	padding: 10px 0;
	background: #fff;
}
.registration_form h2 {
	border-bottom: 1px solid #d2e0f0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #333;
	font-size: 17px;
	margin-bottom: 10px;
	min-height: 20px;
	padding: 11px 10px;
	background: #dfe9f4;
}
.registration_form input {
	padding: 5px 10px;
}
.registration_part h1 {
	border-bottom: none !important;
	padding-bottom: 20px;
	background:##3cd317 !important;
}
.formtable {
	border:none;
}
.formtable tr {
	padding:40px 0;
	margin:20px 0;
}
.form_box {
	padding:0 15px;
}
.form_box ul li {
	list-style:none;
	padding:1px 0;
}
.fbox_row {
	display:block;
	width:100%;
	padding:2px 0;
}
.fbox1 {
	width:100%;
	float:none;
}
.fbox2 {
	width:49%;
	float:left;
	margin-right:1%;
}
.fbox3 {
	width:32%;
	float:left;
	margin-right:1%;
}
.fbox4 {
	width:27%;
	float:left;
	margin-right:1%;
}
.PrvNExt {
	text-align:right;
	padding:10px 0;
}
.PrvNExt li {
	list-style:none;
	display:inline;
	padding:0 10px;
}
.PrvNExt li a {
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#fff;
	background:#588bc7;
	padding:5px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.PrvNExt li a:hover {
	background:#3d73b6;
	text-decoration:none;
}
.advance_search {
	background:#f7f7f7;
	padding:15px 15px 5px 15px;
}
.advance_search table tr td {
	padding:7px 0;
	line-height:25px;
}
.advance_search table tr td:first-child {
	font-size:14px;
	color:#333;
}
.advance_search input {
	background:#fff;
	padding:5px;
	border:1px solid #eaeaea;
}
.advance_search option {
	background:#fff;
	padding:2px 4px;
	border:1px solid #eaeaea;
}
.advance_search select {
	background:#fff;
	border:1px solid #eaeaea;
}
.search {
	background:#eee !important;
	border: 1px solid #ccc !important;
	color: #000;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding:4px 10px !important;
}
.search:hover {
	background:#ddd !important;
}
.job_details_area_left {
	width:60%;
	float:left;
}
.job_details_area_right {
	width:37%;
	float:right;
}
.job_details_info h1 {
	background:url(../images/header_pattern.jpg);
	padding:12px 10px !important;
	color:#333;
	font-size:22px;
	border-bottom:1px solid #eee;
}
.job_details_info_title {
	padding:7px 10px;
	background:url(../images/header_pattern.jpg);
	border:1px solid #eee;
	border-bottom:none;
}
.job_details_info_title h2 {
}
.backicon {
	width:30px;
	float:right;
	margin-top:4px;
}
.title_overview {
	width:86%;
	float:left;
	padding-top:8px;
}
.title_overview span {
	font:13px Arial, Helvetica, sans-serif;
	color:#333;
	padding:0 10px;
	font-weight:normal;
}
.title_overview span.shareicon {
	margin-left:20px;
}
.title_overview span.shareicon ul {
	width:190px;
	float:right;
	padding-top:3px;
	display:block;
}
.title_overview span.shareicon ul li {
	display:inline;
	margin:0 2px;
}
.title_overview span.shareicon ul li a {
	font:13px Arial, Helvetica, sans-serif;
	color:#fff;
	background:#588bc7;
	padding:4px 9px;
	border:1px solid #4980c2;
	border-radius:3px;
}
.title_overview span.shareicon ul li a:hover {
	text-decoration:none;
	color:#eee;
	background:#4980c2;
}
.job_details_area table {
	background:#f9f9f9;
	padding: 0;
	border:1px solid #eee;
}
.job_details_area table tr td {
	padding:10px;
	border-bottom:1px dotted #eee;
	font-size:14px;
	line-height:19px;
}
.job_details_area table tr td strong {
	color:#060;
}
.job_details_area table tr td span {
	color:#F00;
}
.job_details_area table tr td:first-child {
	text-align:right;
	color:#222;
	width:32%;
}
.job_details_area h1 {
	font:bold 18px 'Roboto Condensed', sans-serif;
	text-transform:uppercase;
	color:#3a862d;
	border-bottom:2px solid #e7e1c9;
}
.job_details_area h2 {
	font:bold 16px Tahoma, Geneva, sans-serif;
	color:#588bc7;
}
.company_details_title {
	background:url(../images/header_pattern.jpg) repeat;
	padding:15px 10px;
	border:1px solid #eee;
	border-bottom:none;
}
.c_details {
	background:#f9f9f9;
	padding:5px 0;
	border:1px solid #eee;
}
.c_details tr td {
	padding:10px;
	font-size:14px;
	line-height:19px;
	border-bottom:1px dotted #eee;
}
.c_details tr td a {
	color:#006;
}
.c_details tr td:first-child {
	color:#222;
}
.apply_btn {
	margin-top:15px;
}
.App_btn {
	background:#4980c2;
	padding:5px 10px;
	border:1px solid #4980c2;
	font:14px Arial, Helvetica, sans-serif;
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor:pointer;
}
.App_btn:hover {
	background:#bf8600;
	border:1px solid #b98200;
}
.education_details {
	margin-top:10px;
}
.contact_details {
	margin-top:10px;
}
.application_instruction {
	margin-top:10px;
}
.job_details_area p {
	font:15px Arial, Helvetica, sans-serif;
	color:#333;
	padding:10px;
	background:#f9f9f9;
}
.similar_jobs {
	margin-top:10px;
}
.similar_jobs .tablerecent_job tr td:first-child {
	text-align:left !important;
}
.similar_jobs .tablerecent_job {
	padding:0;
	border:none;
}




a.tooltipeffect {
	outline: none;
}
a.tooltipeffect strong {
	line-height: 30px;
}
a.tooltipeffect:hover {
	text-decoration: none;
}
a.tooltipeffect span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-top: -32px;
	margin-left: 28px;
	width: 240px;
	line-height: 16px;
}
a.tooltipeffect:hover span {
	display: inline;
	position: absolute;
	color: #111;
	border: 1px solid #DCA;
	background: #fffAF0;
}
.callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
} /*CSS3 extras*/
a.tooltipeffect span {
	border-radius: 4px;
	box-shadow: 5px 5px 8px #CCC;
}
.tooltip_contain h4{ font-size:15px;}
.tooltip_contain p{ font:14px arial; line-height:25px;}
.tooltip_contain p small{ color:#C00; font-size:13px;}


#profile_form{ margin-top:20px;}
#profile_form table{ padding:10px; }
#profile_form tr td{ text-align:left !important;}
#profile_form input{ width:90%; padding:5px;}
#profile_form select{padding:0px 5px;}
#profile_form option{ padding:5px;}

.profile_image{ width:200px;}
.profile_image h2{ font-size:14px;}
.profile_image img{ width:60px; height:61px; margin:7px 10px 0 0; border:1px solid #fff; float:left;}
.profile_image ul{ padding:5px 0 0 0px; width:80px; float:left;}
.profile_image ul li{ list-style:none; padding:5px 0;}
.profile_image ul li a{ font:13px arial; text-decoration:none; background:#588bc7;  display:block; color:#fff; padding:4px 5px 4px 7px;-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}
.profile_image ul li a:hover{ background:#4980c2;}