@charset "utf-8";
/* CSS Document */

#cssmenu {
	position: relative;
	width: auto;
	z-index: 10000;
}
#cssmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}
#cssmenu > ul {
	position: relative;
	display: block;
	background:none;
	width: 100%;
	z-index: 500;
}
#cssmenu:after, #cssmenu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#cssmenu.align-right > ul > li {
	float: right;
}
#cssmenu.align-center ul {
	text-align: center;
}
#cssmenu.align-center ul ul {
	text-align: left;
}
#cssmenu > ul > li {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}
#cssmenu > ul > #menu-button {
	display: none;
	background:#588bc7;
}
#cssmenu ul li a {
	display: block;
	font-family: Helvetica, sans-serif;
	text-decoration: none;
}
cssmenu > ul {
	padding:5px 0;
}
#cssmenu > ul > li > a {
	font-size: 14px;
	padding:5px 16px;

	color: #fff;
}
#cssmenu > ul > li {
	border-right:1px solid #eee; padding:0px !important; 
}
#cssmenu > ul > li:last-child {
	border-right:none
}
#cssmenu > ul > li > a:hover {
	color:#eee;
}
#cssmenu > ul > li > a.act {
	background:#f99406;
}
#cssmenu > ul > li.has-sub > a {
	padding-right: 32px;
	color: #eee;
}
#cssmenu > ul > li:hover > a {
	color: #eee;
}
#cssmenu li.has-sub::after {
 display: block;
 content: "";
 position: absolute;
 width: 0;
 height: 0;
}
#cssmenu > ul > li.has-sub::after {
 right: 10px;
 top: 20px;
 border: 5px solid transparent;
 border-top-color: #e8d2bd;
}
#cssmenu > ul > li:hover::after {
 border-top-color: #ffffff;
}
#indicatorContainer {
	position: absolute;
	height: 12px;
	width: 100%;
	bottom: 0px;
	overflow: hidden;
	z-index: -1;
}
#pIndicator {
	position: absolute;
	height: 0;
	width: 100%;
	border: 12px solid transparent;
	/*border-top-color: #2b2f3a;*/

	z-index: -2;
 -webkit-transition: left .25s ease;
 -moz-transition: left .25s ease;
 -ms-transition: left .25s ease;
 -o-transition: left .25s ease;
 transition: left .25s ease;
}
#cIndicator {
	position: absolute;
	height: 0;
	width: 100%;
	border: 12px solid transparent;
	/*border-top-color: #2b2f3a;*/

	top: -12px;
	right: 100%;
	z-index: -2;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	top: 22px !important;
	opacity: 0;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
	z-index: 1000;
	border-top: 4px solid #588bc7;
}
#cssmenu ul ul ul {
	top: 37px;
	padding-left: 5px;
}
#cssmenu ul ul li {
	position: relative;
}
#cssmenu > ul > li:hover > ul {
	left: auto;
	top: 44px;
	opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
	left: auto;
	right: 0;
	opacity: 1;
}
#cssmenu ul ul li:hover > ul {
	left: 170px;
	top: 0;
	opacity: 1;
}
#cssmenu.align-right ul ul li:hover > ul {
	left: auto;
	right: 170px;
	top: 0;
	opacity: 1;
	padding-right: 5px;
}
#cssmenu ul ul li a {
	width: 200px;
	border-bottom: 1px solid #eee;
	padding: 10px 20px;
	font-size: 14px;
	line-height:22px;
	color: #fff;
	background: #588bc7;
 -webkit-transition: all .35s ease;
 -moz-transition: all .35s ease;
 -ms-transition: all .35s ease;
 -o-transition: all .35s ease;
 transition: all .35s ease;
}
#cssmenu.align-right ul ul li a {
	text-align: right;
}
#cssmenu ul ul li:hover > a {
	background: #588bc7;
	color: #eee;
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last > a {
	border-bottom: 0;
}
#cssmenu > ul > li > ul::after {
	/* content: ''; 

  border: 6px solid transparent;

  width: 0;

  height: 0;

  border-bottom-color: #ffffff;*/

	border-top: 3px solid #fff;/*position: absolute;

  top: -12px;

  left: 30px;

*/
}
#cssmenu.align-right > ul > li > ul::after {
 left: auto;
 right: 30px;
}
#cssmenu ul ul li.has-sub::after {
 border: 4px solid transparent;
 border-left-color: #9ea2a5;
 right: 10px;
 top: 12px;
 -moz-transition: all .2s ease;
 -ms-transition: all .2s ease;
 -o-transition: all .2s ease;
 transition: all .2s ease;
 -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub::after {
 border-left-color: transparent;
 border-right-color: #9ea2a5;
 right: auto;
 left: 10px;
}
#cssmenu ul ul li.has-sub:hover::after {
 border-left-color: #ffffff;
 right: -5px;
 -webkit-transform: rotateY(180deg);
 -ms-transform: rotateY(180deg);
 -moz-transform: rotateY(180deg);
 -o-transform: rotateY(180deg);
 transform: rotateY(180deg);
}
#cssmenu.align-right ul ul li.has-sub:hover::after {
 border-right-color: #ffffff;
 border-left-color: transparent;
 left: -5px;
 -webkit-transform: rotateY(180deg);
 -ms-transform: rotateY(180deg);
 -moz-transform: rotateY(180deg);
 -o-transform: rotateY(180deg);
 transform: rotateY(180deg);
}
 @media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
#cssmenu {
 width: auto;
}
#cssmenu.align-center ul {
 text-align: left;
}
#cssmenu.align-right > ul > li {
 float: none;
}
#cssmenu ul {
 width: auto;
}
#cssmenu .submenuArrow, #cssmenu #indicatorContainer {
 display: none;
}
#cssmenu > ul {
 height: auto;
 display: block;
}
#cssmenu > ul > li {
 float: none;
}
#cssmenu li, #cssmenu > ul > li {
 display: none;
}
#cssmenu ul ul, #cssmenu ul ul ul, #cssmenu ul > li:hover > ul, #cssmenu ul ul > li:hover > ul, #cssmenu.align-right ul ul, #cssmenu.align-right ul ul ul, #cssmenu.align-right ul > li:hover > ul, #cssmenu.align-right ul ul > li:hover > ul {
 position: relative;
 left: auto;
 top: auto;
 opacity: 1;
 padding-left: 0;
 padding-right: 0;
 right: auto;
}
#cssmenu ul .has-sub::after {
 display: none;
}
#cssmenu ul li a {
 padding: 12px 20px;
}
#cssmenu ul ul li a {
 border: 0;
 background: none;
 width: auto;
 padding: 8px 35px;
}
#cssmenu.align-right ul ul li a {
 text-align: left;
}
#cssmenu ul ul li:hover > a {
 background: none;
 color: #8c9195;
}
#cssmenu ul ul ul a {
 padding: 8px 50px;
}
#cssmenu ul ul ul ul a {
 padding: 8px 65px;
}
#cssmenu ul ul ul ul ul a {
 padding: 8px 80px;
}
#cssmenu ul ul ul ul ul ul a {
 padding: 8px 95px;
}
#cssmenu > ul > #menu-button {
 display: block;
 cursor: pointer;
}
#cssmenu #menu-button > a {
 padding:19px;
}
#cssmenu ul.open li, #cssmenu > ul.open > li {
 display: block;
 background: #386ba9;
}
#cssmenu > ul.open > li#menu-button > a {
 color: #fff;
 border-bottom: 1px solid #fff;
}
#cssmenu ul ul::after {
 display: none;
}
#cssmenu #menu-button::after {
 display: block;
 content: '';
 position: absolute;
 height: 3px;
 width: 22px;
 border-top: 2px solid #fff;
 border-bottom: 2px solid #fff;
 right: 20px;
 top: 20px;
}
#cssmenu #menu-button::before {
 display: block;
 content: '';
 position: absolute;
 height: 3px;
 width: 22px;
 border-top: 2px solid #fff;
 border-bottom: 2px solid #fff;
 right: 20px;
 top: 30px;
}
#cssmenu ul.open #menu-button::after, #cssmenu ul.open #menu-button::before {
 border-color: #fff;
}
#cssmenu ul ul {
 position: absolute;
 left: -9999px;
 top: 0px !important;
 opacity: 0;
 -webkit-transition: opacity .3s ease, top .25s ease;
 -moz-transition: opacity .3s ease, top .25s ease;
 -ms-transition: opacity .3s ease, top .25s ease;
 -o-transition: opacity .3s ease, top .25s ease;
 transition: opacity .3s ease, top .25s ease;
 z-index: 1000;
 border-top: 4px solid #fff;
}
 #cssmenu ul ul li {
background:#f99406 !important;
}
#cssmenu ul ul li a {
color:#fff !important;
font-size:16px;
padding:10px 30px;
background:#386ba9;
line-height:40px;
}
}
