@charset "utf-8";
/* CSS Document */



/* VIEWPORT < 524px */
@media only screen and (max-width: 767px) {
.wrapper {
 width: 90% !important;
margin:0 auto;
}
/*.header {
padding-bottom:10px !important;
background: none;
}*/
 .logo_cntr {
margin:0px auto 20px auto;
float:none;
}
.search_container {
margin-top:25px;
}
.search_container h2 {
font-size:17px;
}
.searc_txt {
display:block;
width:100% !important;
margin:2px 0 !important;
}
.searc_btn {
display:block;
width:120px !important;
margin:1px auto !important;
}
.mainsite_crt {
display:none;
}
.ressite_crt {
display:block;
width:93% !important;
margin-top:5px !important;
}
.ressite_crt a {
color:#fff !important;
}
 .job_seeker_container {
margin-top:30px;
display:none;
}
.lft_cntr {
display:none;
}
.login_container {
width:100% !important;
}
.login_form {
width:95%;
}
.rgt_container {
width:93%;
margin:20px auto 10px auto;
height:auto !important;
}
.rgt_container img {
width:100%;
}
tablerecent_job tr td {
display:block;
width:100%;
}
.job_filter {
width:100%;
float:none;
}
.tab_hding {
margin-top:20px;
}
.tab_hding ul li {
display:block !important;
width:100%;
}
.job_filter .tab_hding ul a {
display:block;
width:95%;
margin:5px 0;
}
.fr {
float:none;
margin-top:30px;
}
.mt15 {
margin-top:15px;
}
.fr {
display:none;
}
.fl ul {
display:none;
}
.fl {
width:90%;
margin:0 auto;
}
fl p {
text-align:center;
width:90%;
margin:0 auto;
line-height:35px;
}
.fot_top {
width:90%;
margin:0 auto;
}
.footer_text {
text-align:center;
line-height:35px;
}
.job_list_cntr {
width:95% !important;
}
.top_job_list > li {
width:95% !important;
}
.img_cntr {
display:none;
}
.img_cntr img {
display:none;
}
.top_job_list li .job_desc {
 float: none;
 display: inline;
 width: 99% !important;
 margin-top:15px !important;
}
 tablerecent_job {
width:80% !important;
overflow:scroll;
}
 .login_form .one {
 display:block;
}
.login_form .one:after {
 bottom: 100%;
 left: 8% !important;
}
 .login_form .two:after {
 bottom: 100%;
 left: 37% !important;
}
 .job_details_area_left {
 width:100%;
 float:none;
}
.job_details_area_right {
 width:100%;
 float:none;
}
 .left-column {
 width:90% !important;
 float:none;
 text-align:left !important;
 display:block;
}
.right-column {
 display:block;
 width:90% !important;
 float:none;
}
 .registration_form input {
width:90%;
margin-top:3px;
}
 .registration_form .one {
 display:block;
}
 .registration_form .one:after {
 left: 10%;
}
 .registration_form .two:after {
 left:40%;
}
.form_box ul {
display:block !important;
}
.form_box ul li {
display:block;
}
.fbox4 {
width:90%;
float:none;
display:block;
}
 span.radiobtm label {
display:block;
padding:0;
background: none repeat scroll 0 0 #588bc7;
 border: medium none;
 border-radius: 3px;
 color: #fff;
 font-size:15px;
 cursor: pointer;
 padding: 9px;
}
.login_container h1{ font-size:5px !important;}
.registration_part h1{ font-size:5px !important;}
.login_container a{ font-size:12px;}

 span.radiobtm label:hover {
color:#eee;
}
 span.radiobtm{ padding:0;}
 input[type="radio"]:checked + span {
color:#fff;
}
 .registration_form .one:after {
 display:none;
}
 .registration_form .two:after {
 display:none;
}
 .login_form .one:after {
 display:none;
}
.login_form .two:after {
 display:none;
}
.job_details_area {
margin-bottom:20px;
}
/*.title_overview span{ font-size:25px;}
.title_overview span.shareicon ul li a{ padding:3px 9px !important;}
.title_overview{ padding:0 !important;}*/




a.tooltipeffect span {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-left:-55%;
	margin-top: 28px;
	width: 240px;
	line-height: 16px;
}
a.tooltipeffect:hover span {
	display: inline;
	position: absolute;
	color: #111;
	border: 1px solid #DCA;
	background: #fffAF0;
}
.callout {
	display:none;
} /*CSS3 extras*/



 /* Force table to not be like tables anymore */
	#profile_form table, 
	#profile_form thead, 
	#profile_form tbody, 
	#profile_form th, 
	#profile_form td, 
	#profile_form tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#profile_form thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#profile_form tr { border: 1px solid #ccc; }
 
	#profile_form td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 10%; 
		white-space: normal;
		text-align:left;
	display:block;

	
	}
 
	#profile_form td:before { 
		/* Now like a table header */
		
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#profile_form td:before { content: attr(data-title); }
#profile_form input{ width:90%; padding:5px;}
#profile_form select{padding:0px 5px;width:90%; margin-top:7px;}

}



/* VIEWPORT < 524px */
@media only screen and (max-width: 524px) {
.wrapper {
 width: 90% !important;
margin:0 auto;
}
.header {
padding-bottom:10px !important;
background: none;
}
 .logo_cntr {
margin:0px auto 20px auto;
float:none;
}
.search_container {
margin-top:25px;
}
.search_container h2 {
font-size:17px;
}
.searc_txt {
display:block;
width:100% !important;
margin:2px 0 !important;
}
.searc_btn {
display:block;
width:120px !important;
margin:1px auto !important;
}
.mainsite_crt {
display:none;
}
.ressite_crt {
display:block;
width:93% !important;
margin-top:5px !important;
}
.ressite_crt a {
color:#fff !important;
}
 .job_seeker_container {
margin-top:30px;
display:block;
}
img.chair{ display:none;}
.lft_cntr {
display:none;
}
.profile_image ul{ display:block;}
.login_container {
width:100% !important;
}
.login_form {
width:95%;
}
.rgt_container {
width:93%;
margin:20px auto 10px auto;
height:auto !important;
}
.rgt_container img {
width:100%;
}
tablerecent_job tr td {
display:block;
width:100%;
}
.job_filter {
width:100%;
float:none;
}
.tab_hding {
margin-top:20px;
}
.tab_hding ul li {
display:block !important;
width:100%;
}
.job_filter .tab_hding ul a {
display:block;
width:95%;
margin:5px 0;
}
.fr {
float:none;
margin-top:30px;
}
.mt15 {
margin-top:15px;
}
.fr {
display:none;
}
fl ul {
display:none;
}
.fl {
width:90%;
margin:0 auto;
}
fl p {
text-align:center;
width:90%;
margin:0 auto;
line-height:35px;
}
.fot_top {
width:90%;
margin:0 auto;
}
.footer_text {
text-align:center;
line-height:35px;
}
.job_list_cntr {
width:95% !important;
}
.top_job_list > li {
width:95% !important;
}
.img_cntr {
display:none;
}
.img_cntr img {
display:none;
}
.top_job_list li .job_desc {
 float: none;
 display: inline;
 width: 99% !important;
 margin-top:15px !important;
}
 tablerecent_job {
width:80% !important;
overflow:scroll;
}
 .login_form .one {
 display:block;
}
.login_form .one:after {
 bottom: 100%;
 left: 10% !important;
}
 .login_form .two:after {
 bottom: 100%;
 left: 59% !important;
}
 .job_details_area table tr td {
display:block;
width:96%;
border:none;
padding:3% 2% !important;
}
.job_details_area table tr td:first-child {
background:#f0f0f0;
color:#000;
text-align:left;
width:96% !important;
display:block;
}
 .advance_search table tr td {
display:block;
width:96%;
padding:3% 2% !important;
}
.advance_search table tr td:first-child {
background:#f0f0f0;
}
 span.radiobtm label {
display:block;
padding:0;
background: none repeat scroll 0 0 #588bc7;
 border: medium none;
 border-radius: 3px;
 color: #fff;
 font-size:15px;
 cursor: pointer;
 padding: 9px;
}
 span.radiobtm label:hover {
color:#eee;
}
 input[type="radio"]:checked + span {
color:#fff;
}
 .registration_form .one:after {
 display:none;
}
 .registration_form .two:after {
 display:none;
}
.title_overview span {
padding-top:20px;
line-height:30px;
}

.title_overview span.shareicon ul {
float:left;
width:90% !important;
display:block;
text-align:left;
}
.backicon {
 margin-top: 5px !important;
}
}
