body{
	padding-top: 88px;
}

@media (min-width: 1200px){
	.container {
	    max-width: 1170px;
	}
}

/*Search CSS Component*/

$search: '.search';

#{$search}{
	position: relative;
	z-index: 11;

	&__overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.93;
		z-index: -1;
		@include search-grad;
	}

	h1{
		text-align: center;
		color: #fff;
	}
}

//Video

$video: '.video';

#{$video}{
    border-right: none;
    border-left: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;

    .no-video &__container video,
	.touch &__container video {
	    display: none;
	}

	.no-video &__container .poster,
	.touch &__container .poster {
	    display: block !important;
	}

	&__container {
	    position: relative;
	    bottom: 0%;
	    left: 0%;
	    height: 100%;
	    width: 100%;
	    overflow: hidden;
	    background: #000;

	    .poster img {
		    width: 100%;
		    bottom: 0;
		    position: absolute;
		}

		&__filter {
		    z-index: 100;
		    position: absolute;
		    background: rgba(0, 0, 0, 0.4);
		    width: 100%;
		}

		video {
		    position: absolute;
		    z-index: 0;
		    bottom: 0;

		    &.fillWidth {
			    width: 100%;
			}
		}
	}
}
/*Search CSS Component*/

/*Jobs CSS Component*/

$jobs: '.jobs';

#{$jobs}{
	&__top{
		&--circle{
			@extend %circle;	
			background: $main_yellow;
		}

		&__item{
			position: relative;
			min-height: 122px;
			@include transition(all 0.33s);

		}

		&__abs{
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			height: 100px;
			padding: 20px;
			z-index: 1;
			overflow: hidden;

			&:before{
				content: '';
				position: absolute;
				width: 2px;
				height: 100%;
				background: transparent;
				left: 0;
				
				top: 0;
				@include transition(all 0.33s);
			}

			&:hover{
				overflow: visible;
				background: #fff;
				height: auto;
				@extend %shadow;
				z-index: 10;

				&:before{
					background: $main_blue;
				}

				& + #{$jobs}__more{
					display: none;
				}
			}
		}

		&__image{
			width: 80px;
			height: 80px;
			border: 1px solid $border_light;
			margin-right: 20px;
		}

		&__det{
			position: relative;
		}

		&__list{
			li{
				margin-bottom: 5px;
				font-size: 14px;

				a{
					line-height: 18px;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__na{
		font-size: 14px;

		i{
			margin-right: 6px;
			vertical-align: middle;
		}

		p{
			display: inline-block;
			margin: 0;
		}
	}

	&__latest{
		margin-top: 40px;
		
		&--circle{
			@extend %circle;	
			background: $main_blue;
		}
	}


	&__more{
		position: absolute;
		bottom: 20px;
		font-size: 10px;
		right: 10px;
	}

	&__showmore{
		padding-top: 40px;
		text-align: center;
	}

	&__listitem{
		padding: 20px;
		border: 1px solid $border_dark;
		margin-bottom: 20px;

		&:last-of-type{
			margin-bottom: 0;
		}
	}

	&__itemimage{
		margin-right: 20px;
		width: 62px;
		height: 62px;
		overflow: hidden;
	}

	&__itemcompany{
		font-size: 14px;
		color: $light_text;

		a{
			color: $main_blue;

			&:hover{
				color: darken($main_blue, 10%);
			}
		}
	}

	&__itemtitle{
		margin-bottom: 3px;
	}

	&__deadline{
		font-size: 12px;
		color: $light_text;

		i{
			vertical-align: middle;
			margin-right: 6px;
		}
	}


}

/*Jobs Table CSS Component*/

$jobstable: '.jobstable';
#{$jobstable}{
	width: 100%!important;
	border: 1px solid $border_dark;
	border-top: 0;
	background: #fff;
	margin-bottom: 0;
	border-collapse: collapse;
	
	thead{
		display: none;
	}

	td{
		padding: 20px;
		vertical-align: middle;
		font-size: 14px;
		border-top: 1px solid $border_dark;
	}

	&__image{
		width: 80px;

		figure{
			border: 1px solid $border_light;
		}
	}

	&__det{
		width: 50%;
		padding: 0!important;

		h5{
			font-size: 18px;
			margin-bottom: 5px;
		}
	}

	&__emp{
		font-size: 14px;
		color: $light_text;
		display: block;
		margin-bottom: 8px;
	}

	&__deadline{
		font:{
			size: 12px;
		};
		color: $light_text;

		i{	
			vertical-align: middle;
			margin-right: 10px;
		}
	}

	&__emploc{
		width: 30%;
		padding-right: 0!important;

		i{
			vertical-align: middle;
			margin-right: 10px;
		}
	}
}

$filter: '.filter';

#{$filter}{
	margin-bottom: 30px;
	font-size: 14px;

	label{
		margin: 0;
		display: block;
		position: relative;

		i{
			position: absolute;
			top: 0;
			color: $x_gray;
			left: 20px;
			bottom: 0;
			display: block;
			height: 18px;
			margin: auto 0;
		}

		input{
			color: $x_gray;
			padding-left: 54px;
		}
	}

	#jobstable_filter{
		width: 100%;
		max-width: 272px;
	}
}

$pager: '.pager';
#{$pager}{
	margin-top: 30px;
	font-size: 14px;
}

.paginate{
	&_button{
		padding: 13px 20px;
		line-height: 1;
		background: $glitter;
		color: $heading_color;
		font-size: 14px;
		margin-right: 10px;
		cursor: pointer;
		outline: 0;
		display: inline-block;
		@include border-radius(14px);
		@include transition(all 0.33s);

		&:hover, &.current{
			background: $main_blue;
			color: #fff;
		}

		&.disabled{
			opacity: 0.5;

			&:hover{
				background: $glitter;
				color: inherit;
			}
		}

		&.first, &.last{
			background: none;

			&:hover{
				background: none;
				color: inherit;
			}
		}

		&.last{
			margin-right: 0;
		}
	}
}

/*Jobs Table CSS Component*/

/*Jobs CSS Component*/

/*Call To Register Component*/
$ima: '.ima';

#{$ima}{
	& > div{
		padding: 105px 0;
		text-align: center;
		position: relative;
		z-index: 1;
		color: #fff;

		@media (min-width: 1024px) {
			padding: 105px 160px!important;
		}


		header{
			font:{
				size: 44px;
				weight: 700;
			};
			text-transform: uppercase;

			span{
				text-transform: none;
				display: block;
				font: {
					family: Quicksand, "Open Sans", sans-serif;
					size: 18px;
				};
			}
		}

		p{
			font-size: 16px;
			line-height: 1.75;
			margin-bottom: 30px;
		}
	}

	&__overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba($main_blue, 0.92);
		z-index: -1;
	}

	&__employer{
		background: url(../images/registeremp.jpg) bottom center no-repeat;
		background-size: cover;
	}

	&__jobseeker{
		background: url(../images/registerjobseek.jpg) center center no-repeat;
		background-size: cover;
	}
}

/*Call To Register Component*/

/*Jobs By CSS Component*/
$jobsby: '.jobsby';

#{$jobsby}{
	padding: 40px 0;
	background: $border_light;

	&__tabs{

		&--heading{
			margin-bottom: 40px;

			#jobsby-tabs{
				padding: 3px;
				@include border-radius(20px);
				background: #fff;
				@extend %shadow;
			}

			a{
				padding: 6px 20px;
				color: $spanish_grey;
				@include border-radius(17px);

				&.active{
					background: $main_blue;
					color: #fff;
				}
			}
		}
	}

	&__list{
		line-height: 34px;

		a{
			color: $davy_grey;

			&:hover{
				text-decoration: underline;
			}
		}
	}
}

/*Jobs By CSS Component*/


/*Main CSS Component*/

$main: '.main';

#{$main}{
	padding: 40px 0;
}

/*Main CSS Component*/

/*Card CSS Component*/
$card: '.card';

#{$card}{
	border: none;
	padding: 30px;
	@include border-radius(0);
	@extend %shadow;

	&__title{
		padding-bottom: 10px;
		margin-bottom: 20px;
		font:{
			size: 16px;
			weight: 500;
		};
		position: relative;
		border-bottom: 1px solid $border_dark;

		&--link{
			float: right;
			margin-top: 1px;
			color: $main_blue;
			text-decoration: underline;
			font:{
				family: 'Open Sans', sasn-serif;
				weight: 400;
				size: 14px;
			};

			&:hover{
				text-decoration: none;
			}
		}
	}
}

h1.card__title{
	font:{
		size: 24px;
		weight: 400;
	};
}
/*Card CSS Component*/

/*List CSS Component*/

$list: '.list';

#{$list}{
	li{
		line-height: 30px;

		a{
			font-size: 14px;
			color: lighten($body_text, 10%);
			@include transition(all 0.33s);

			&:hover{
				color: $body_text;
				text-decoration: underline;
			}
		}
	}

	&--dotted{
		list-style:{
			position: outside;
			type: disc;
		};
		padding-left: 18px;

		li{
			padding-bottom: 5px;

			&:last-of-type{
				padding-bottom: 0;
			}
		}
	}
}

/*List CSS Component*/

/*Job Detal CSS Component*/

$jobdetail: '.jobdetail';
#{$jobdetail}{
	&__meta{
		padding-bottom: 30px;
		margin-bottom: 30px;
		font-size: 14px;
		border-bottom: 1px solid $border_dark;

		&__list{
			padding:{
				top: 10px;
				bottom: 10px;
			};
			color: $sonic_silver;

			i{
				margin-right: 15px;
			}

			span{
				padding: 4px 0;
				cursor: default;
			}

			i, span{
				vertical-align: middle;
				line-height: 1;
				display: inline-block;
			}
		}

		&--salary{
			span{
				border-bottom: 1px dashed $sonic_silver;
			}
		}
	}

	&__edu{
		margin-bottom: 40px;

		&__list{
			margin: 0;

			dt, dd{
				line-height: 1;
				margin-bottom: 15px;

				&:last-of-type{
					 margin-bottom: 0;
				}
			}

			dt{
				font-weight: 400;
				width: 190px;
				margin-right: 10px;
			}

			dd{
				width: calc(100% - 200px);
			}
		}
	}

	&__desc{
		margin-bottom: 40px;
	}

	&__nicetohave{
		margin-bottom: 40px;
	}

	&__howtoapply{
		&--btngroup{
			.btn{
				margin-right: 16px;

				&:last-of-type{
					margin-right: 0;
				}
			}
		}
	}
}

/*Job Detal CSS Component*/

/*Share This CSS Component*/
$sharethis: '.sharethis';

#{$sharethis}{
	margin-top: 40px;

	&__inline{
		h4{
			margin-bottom: 0;
			margin-right: 20px;
		}
	}
}
/*Share This CSS Component*/

/*Widget CSS Component*/
$widget: '.widget';

#{$widget}{
	&__company{
		text-align: center;
		&--image{
			width: 110px;
			height: 110px;
			overflow: hidden;
			margin-bottom: 20px;
			border: 1px solid $border_dark;
			@include border-radius(50%);
		}

		&--det{
			font-size: 14px;
			margin-bottom: 30px;

			li{
				padding-bottom: 10px;

				&:last-of-type{
					padding-bottom: 0;
				}
			}

			i{
				vertical-align: middle;
				margin-right: 6px;
			}
		}

		&--btngroup{
			.btn{	
				width: 100%;
				margin-bottom: 20px;

				&:last-of-type{
					margin-bottom: 0;
				}
			}
		}
	}	
}
/*Widget CSS Component*/

/*Job Seeker Dashboard CSS Component*/
	$usercard: '.usercard';
	#{$usercard}{
		margin-bottom: 20px;

		&__image{
			width: 60px;
			height: 60px;
			border: 1px solid $border_dark;
			overflow: hidden;
			margin-right: 10px;
			@include border-radius(50%);
		}

		&__name{
			margin-bottom: 0;
		}

		&__edit{
			font-size: 14px;
			text-decoration: underline;

			&:hover{
				text-decoration: none;
			}
		}
	}

	$profileload: '.profileload';
	#{$profileload}{
		margin-bottom: 20px; 
		&__title{
			font-size: 14px;
		}

		&__progress{
			margin-bottom: 10px;
		}

		&__text{
			font:{
				size: 12px;
			};
			color: $trolley_grey;
			line-height: 18px;
			display: block;
		}
	}

	$sidenav: '.sidenav';
	#{$sidenav}{
		&__menu{

		}

		&__item{
			padding: 8px 0;
			border-top: 1px solid $border_dark;

			&:last-of-type{
				padding-bottom: 0;
			}

			a, i{
				font-size: 14px;
				color: $body_text;
				vertical-align: middle;
				@include transition(all 0.33s);
			}

			a{
				&:hover{
					color: $main_blue;

					i{
						color: $main_blue;
					}
				}
			}

			i{
				font-size: 12px;
				margin-right: 6px;
				width: 16px;
			}

			&--active{
				a, i{
					color: $main_blue;
				}
			}
		}

		&__itemcount{
			float: right;
			display: block;
			width: 16px;
			height: 16px;
			text-align: center;
			line-height: 16px;
			background: $main_blue;
			color: #fff;
			font-size: 10px;
			margin-top: 4px;
			@include border-radius(50%);
		}
	}

	.progress{
		height: 20px;
	}

	.progress, .progress-bar{
		@include border-radius(10px);
	}

	.bg-danger{
		background: $red!important;
	}

	$accinfo: '.accinfo';
	#{$accinfo}{
		&__jobsapplied{
			text-align: center;
			
			span{
				font:{
					size: 30px;
					weight: 600;
				};
				color: $main_blue;
				display: block;
				margin-bottom: 10px;
			}

			p{
				font-size: 14px;
			}
		}
	}

	$jobbasket: '.jobbasket';
	#{$jobbasket}{
		margin-top: 40px;

		&__item{
			padding: 10px 0;
			border-bottom: 1px solid $border_dark;

			&:first-of-type{
				padding-top: 0;
			}

			&:last-of-type{
				border: none;
				padding-bottom: 0;
			}
		}

		&__image{
			width: 40px;
			height: 40px;
			overflow: hidden;
			margin-right: 10px;
		}

		&__det{
			h5{
				font-size: 14px;
				margin-bottom: 0;	
			}

			span{
				font-size: 12px;
				color: $sonic_silver;
				a{
					color: $main_blue;
				}
			}
		}
	}
/*Job Seeker Dashboard CSS Component*/

/*Advanced Search CSS Component*/
	$advsearch: '.advsearch';
	#{$advsearch}{
		label{
			font-size: 14px;
		}
	}
/*Advanced Search CSS Component*/

/*Resume CSS Component*/
$resume: '.resume';
#{$resume}{

	&__heading{
		padding-bottom: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid $border_dark;		
	}

	&__block{
		margin-bottom: 40px;

		&:last-of-type{
			margin-bottom: 0;
		}

		h3{
			margin-bottom: 3px;
		}

		span{
			display: block;
			color: $light_text;
			font:{
				size: 14px;
				weight: 600;
			};
		}

		i{
			margin-right: 10px;
			vertical-align: middle;
			line-height: 1;
		}

		p{
			&:last-of-type{
				margin-bottom: 0;
			}
		}

		.row{
			margin-bottom: 20px;
			
			&:last-of-type{
				margin-bottom: 0;
			}
		}

		&--list{
			list-style-position: outside;
			list-style-image: url('../images/success.png');
			padding-left: 20px;

			li{
				line-height: 2;
				padding-left: 10px;
			}
		}

		&--skills{
			font-size: 0;
			margin-top: 15px;

			li{
				padding: 3px 5px;
				background: $main_blue;
				line-height: 1;
				color: #fff;
				display: inline-block;
				vertical-align: middle;
				font:{
					size: 12px;
					weight: 400;
				};
				margin:{
					right: 10px;
					bottom: 10px;
				};
			}
		}
	}

	&__name{
		margin-bottom: 15px;
		font-weight: 500;
	}

	&__avatar{
		max-width: 140px;
		overflow: hidden;
	}

	&__detail{
		li{
			margin-bottom: 10px;
			font-size: 14px;

			&:last-of-type{
				margin-bottom: 0;
			}
		}
		i{
			line-height: 1;
			margin-right: 15px;
		}
	}

	&__experience{
		p{
			margin-top: 10px;
		}
	}
}
/*Resume CSS Component*/