.btn{
	padding: 14px 50px;
	border: none;
	line-height: 1;
	font:{
		size: 16px;
		weight: 400;
	};
	@include box-shadow(0px 0px 11px 0px rgba(0,0,0,0.09));
	@include border-radius(23px);

	i{
		line-height: 1;
		vertical-align: middle;
		margin-right: 10px;
	}

	&:hover, &:active, &:focus{
		@include box-shadow(none);
	}

	&-default{
		background: $border_dark;

		&:hover, &:active, &:focus{
			color: $body_text;
			background: lighten($border_dark, 5%);
		}
	}

	&-primary{
		background: $main_blue;

		&:hover, &:active, &:focus{
			background: darken($main_blue, 5%);
		}
	}

	&-secondary{
		background: $main_green;

		&:hover, &:active, &:focus{
			background: darken($main_green, 5%);
		}
	}

	&-danger{
		background: $red;

		&:hover, &:active, &:focus{
			background: darken($red, 5%);
		}
	}

	&-sm{
		padding: 6px 20px;
		font-size: 14px;
	}

	&-md{
		font-size: 14px;
		padding: 12px 40px;
	}

	&-round{
		@include border-radius(6px);
	}

	&-fluid{
		font-weight: 600;
		color: $main_blue;
		padding-left: 30px; 
		padding-right: 30px; 
	}

	&-full{
		width: 100%;
		text-align: center;
	}
}