*{
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f8f8f8;
	font-family: "Open Sans", sans-serif;
	color: $body_text;
	font-size: 16px;
}

p{
	line-height: 1.6;
}

.section-pad{
	padding: 40px 0;
}

ul{
	list-style-type: none;
	margin: 0;
}

a{
	&:hover{
		text-decoration: none;
		color: darken($main_blue, 10%);
	}
}

figure{
	margin: 0;
}

a.text-link{
	color: $main_blue!important;
	text-decoration: underline;
	
	&:hover{
		text-decoration: none;
	}
}

.ads{
	margin-top: 40px;
}

.tooltip-inner{
	padding: 2px 20px;
	font-size: 10px;
	text-transform: uppercase;
	background: $heading_color;
	@include border-radius(16px);
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before{
	border-top-color: $heading_color;
}


/*Tabs CSS Component*/
#tabs{
	padding: 3px;
	margin-bottom: 40px;
	@include border-radius(20px);
	background: $main_blue;
	@extend %shadow;

	a{
		padding: 6px 20px;
		color: #fff;
		font-size: 14px;
		@include border-radius(17px);

		&.active{
			background: #fff;
			color: $heading_color;
		}
	}
}
/*Tabs CSS Component*/

/*Alert*/
.alert{
	
	padding: 10px;
	@include border-radius(0);

	&-info{
		color: $main_blue;
		background: $anti_flash_white;
		border-color: darken($anti_flash_white, 10%);
	}
}