@charset "UTF-8";

@font-face {
  font-family: "asiajobs";
  src:url("fonts/asiajobs.eot");
  src:url("fonts/asiajobs.eot?#iefix") format("embedded-opentype"),
    url("fonts/asiajobs.woff") format("woff"),
    url("fonts/asiajobs.ttf") format("truetype"),
    url("fonts/asiajobs.svg#asiajobs") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "asiajobs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="aj-"]:before,
[class*=" aj-"]:before {
  font-family: "asiajobs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.aj-age:before {
  content: "\61";
}
.aj-noofvacancies:before {
  content: "\62";
}
.aj-right-arrow:before {
  content: "\63";
}
.aj-applyjob:before {
  content: "\64";
}
.aj-cancel:before {
  content: "\65";
}
.aj-salary:before {
  content: "\66";
}
.aj-savejob:before {
  content: "\67";
}
.aj-category:before {
  content: "\68";
}
.aj-deadline:before {
  content: "\69";
}
.aj-search:before {
  content: "\6a";
}
.aj-sent-mail:before {
  content: "\6b";
}
.aj-down-arrow:before {
  content: "\6c";
}
.aj-email:before {
  content: "\6d";
}
.aj-topjobs:before {
  content: "\6e";
}
.aj-website:before {
  content: "\6f";
}
.aj-experience:before {
  content: "\70";
}
.aj-joblevel:before {
  content: "\71";
}
.aj-jobtype:before {
  content: "\72";
}
.aj-latestjobs:before {
  content: "\73";
}
.aj-left-arrow:before {
  content: "\74";
}
.aj-location:before {
  content: "\75";
}
.aj-phone:before {
  content: "\76";
}
.aj-facebook:before {
  content: "\77";
}
.aj-linkedin:before {
  content: "\78";
}
.aj-twitter:before {
  content: "\79";
}
