$footer: '.footer';

#{$footer}{
	p, li, a{
		color: $trolley_grey;
		font-size: 14px;
	}

	&__top{
		@extend .section-pad;
		background: $jet_light;
	}

	&__logo{
		margin-bottom: 20px;
		display: block;
	}

	&__links{
		li{
			line-height: 30px;

			a{
				@include transition(all 0.33s);

				&:hover{
					text-decoration: underline;
					color: $light_text;
				}
			}
		}
	}

	&__contact{
		&--det{
			li{
				margin-bottom: 10px;

				&:first-of-type{
					span{
						font-weight: 700;
					}
				}
			}

			i{
				padding-top: 2px;
				margin-right: 20px;
			}
		}
	}

	&__bottom{
		padding: 30px 0;
		background: $jet_dark;
	}

	&__copy{
		margin-bottom: 0;
	}

	&__social{
		li{
			margin-right: 10px;

			&:last-of-type{
				margin-right: 0;
			}
		}

		a{
			font-size: 28px;
			@include transition(all 0.33s);

			&.facebook{
				&:hover{
					color: $fb;
				}
			}

			&.twitter{
				&:hover{
					color: $tw;
				}
			}

			&.linkedin{
				&:hover{
					color: $ln;
				}
			}
		}
	}
}

/*Modal CSS Component*/
$modal: '.modal';

#{$modal}{
	
	&-content{
		border: none;
		@extend %shadow;
		@include border-radius(10px);
	}

	&-header{
		position: relative;
		border: none;
		text-align: center;
		background: $main_blue;
		padding: 30px 40px;
		@include border-radius(10px 10px 0 0);

		h2{
			margin-bottom: 0;
			color: #fff;
		}
	}

	&-close{
		position: absolute;
		width: 20px;
		height: 20px;
		top: 36px;
		right: -50px;
		cursor: pointer;
		color: #fff;
		@include transition(all 0.33s);

		i{
			display: block;
			line-height: 1;
			font-size: 20px;
		}

		&:hover{
			@include transform(rotate(90deg));
		}
	}

	&-body{
		padding: 40px;
	}
}