
.form-control{
	padding: 13px 20px;
	border: none;
	font:{
		size: 14px;
	};
	line-height: 1.2;
	color: $body_text;
	outline: none;
	@include border-radius(23px);

	&:focus{
		@include box-shadow(none);
	}

	&.form-dark{
		background: $flash_white;
		color: $quick_silver;
	}

	&.form-round{
		@include border-radius(6px);
	}

	&.form-md{
		padding: 11px 10px;
	}
}

select.form-control{
	padding: 11px 20px;
	line-height: 1;

	&:not([size]):not([multiple]){
		height: auto;
	}

	&.form-md{
		padding: 8px 10px;
	}
}

.form-group{
	margin-bottom: 20px;
}

label{
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 10px;
	font:{
		size: 16px;
		weight: 500;
	}

	&.form-label{
		color: $main_blue;
		font:{
			size: 14px;
			weight: 500;
		};
		text-transform: uppercase;
	}
}

p.terms{
	font: {
		size: 14px;
	};
	color: $quick_silver;
	margin-botom: 30px;

	span{
		color: $main_blue;
	}
}

.forgot-password{
	display: block;
	color: $crimson;
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 30px;
	@include transition(all 0.33s);

	&:hover{
		text-decoration: none;
		color: darken($crimson, 10%);
	}
}

.form-check{
	margin-bottom: 10px;

	&-label{
		font:{
			weight: 400;
			family: 'Open Sans', sans-serif;
		};
	}

	&:last-of-type{
		margin-bottom: 0;
	}
}