h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
	display: block;
	margin-bottom: 20px;
	color: $heading_color;
	line-height: 1.4;
	font: {
		weight: 500;
		family: "Quicksand", sans-serif;
	};
}

h1, .h1{
	font:{
		size: 30px;
		weight: 400;
	};
	margin-bottom: 30px;
}

h2, .h2{
	font:{
		size: 20px;
		weight: 500;
	};

	.icon{
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-bottom;
		line-height: 1;
	}
}

h3, .h3{
	font:{
		size: 18px;
		weight: 500;
	};
	margin-bottom: 30px;
}

h4, .h4{
	font:{
		size: 14px;
		weight: 700;
	};
	text-transform: uppercase;
}

h5, .h5{
	font-size: 16px;
	margin-bottom: 10px;
	
	a{
		color: $heading_color;
	}
}

h6, .h6{
	font:{
		size: 18px;
		weight: 700;
	};
	color: $isabelline;
}