@mixin transform($value){
	-webkit-transform: $value;
	-moz-transform: $value;
	transform: $value;
}

@mixin transition($value){
	-webkit-transition: $value;
	-moz-transition: $value;
	transition: $value;
}

@mixin border-radius($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin box-shadow($value){
	-webkit-box-shadow: $value;
	-moz-box-shadow: $value;
	box-shadow: $value;
}

@mixin search-grad{
	background: rgba(70,112,218,1);
	background: -moz-linear-gradient(45deg, rgba(70,112,218,1) 0%, rgba(107,92,218,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(70,112,218,1)), color-stop(100%, rgba(107,92,218,1)));
	background: -webkit-linear-gradient(45deg, rgba(70,112,218,1) 0%, rgba(107,92,218,1) 100%);
	background: -o-linear-gradient(45deg, rgba(70,112,218,1) 0%, rgba(107,92,218,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(70,112,218,1) 0%, rgba(107,92,218,1) 100%);
	background: linear-gradient(45deg, rgba(70,112,218,1) 0%, rgba(107,92,218,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4670da', endColorstr='#6b5cda', GradientType=1 );
}