$nav: '.nav';

.navbar{
	padding: 0;
}

.navbar-toggler-icon{
	color: $body_text;
}

#{$nav}{
	&__item{
		padding: 0 10px;

		a{
			text-transform: uppercase;
			color: $body_text;
			font-size: 14px;
			@include transition(all 0.33s);

			&:hover{
				color: $main_blue;
			}

			&.btn{
				color: #fff;
			}
		}

		&:last-child{
			padding-right: 0;
		}

		&--dropdown{
			position: relative;
		}
	}
}