%shadow{
	@include box-shadow(0px 0px 11px 0px rgba(0,0,0,0.09));
}

%circle{
	width: 24px;
	height: 24px;
	font-size: 14px;
	padding: 4px 0;
	text-align: center;
	color: #fff;
	@include border-radius(50%);
}