$sidebar: '.sidebar';

#{$sidebar}{
	
	&__category{

		&__selected{
			margin-bottom: 30px;

			&--item{
				color: $main_blue;
				font-size: 14px;
				position: relative;
				display: block;

				span{
					font-size: 8px;
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					height: 8px;
					margin: auto 0;
				}
			}
		}
	}
}