//Main Colors
$main_blue: #4670da;
$main_green: #aabc56;
$main_yellow: #fac917;

//Text Colors
$heading_color: #2d2d2d;
$body_text: #3d3d3d;
$light_text: #a4a4a4;
$davy_grey: #595959;
$spanish_grey: #9d9d9d;
$trolley_grey: #7d7d7d;
$isabelline: #ececec;

//Footer BG
$jet_light: #363636;
$jet_dark: #2f2f2f;

//Others
$border_light: #fafafa;
$border_dark: #ededed;
$fb: #3b5998;
$tw: #1da1f2;
$ln: #0077b5;
$flash_white: #f2f2f2;
$anti_flash_white: #ebf1f8;
$x_gray: #bababa;
$glitter: #ecf0fb;
$sonic_silver: #787878;
$red: #fe2c22;
$quick_silver: #a3a3a3;
$crimson: #ea1111;